<div class="w-full bg-cover  flex items-center justify-center" style="background-image: url({{ 'hero-bg.png'| asset_url }});">
  <h1 class=" p-60 font-instrument text-white text-6xl">{{ page.title }}</h1>
</div>

<div class="container mx-auto text-gray-600 mt-20">
  <div class=" grid grid-cols-2 gap-9 items-center py-20">
    <div class="">

      <img
        class=" object-fill"
        src="{{ 'ab-sec1.svg'| asset_url }}"
        alt="">

    </div>
    <div>
      <h2 class="text-3xl font-medium font-syne tracking-wide mb-4">HVN ON ERTH starts with what you allow into</h2>
      <h1 class="text-6xl font-medium text-custom font-instrument tracking-wide mb-4">Your Unique experience, that which we call life.
      </h1>
      <p class="text-lg font-syne mb-5">How you think, your environment, your free will in decision making, what you intake through your ears, eyes and mouth becomes your well-being both internally and externally.
      </p>

    </div>
  </div>
  <div class=" grid grid-cols-2 gap-9 py-20">
    <div class="">
      <h2 class="text-3xl font-medium font-syne tracking-wide mb-4">HVN ON ERTH</h2>
      <h1 class="text-6xl font-medium text-custom font-instrument tracking-wide mb-4">HVN ON ERTH is more than a brand;
      </h1>
      <p class="text-lg font-syne mb-5">It's a holistic health and wellness community, driven by a shared purpose to add value not only to our planet but to the well-being of every individual it touches.
      </p>
      <p class="text-lg font-syne mb-5">At HVN ON ERTH, our commitment to making a positive impact extends far beyond our products and offerings. A core pillar of our brand ethos is the belief in giving back to the community and the planet. One significant way we fulfill this commitment is through our dedicated treasury fund.
      </p>
      <h2 class="text-3xl font-medium font-syne tracking-wide mb-4">A Percentage of Proceeds for Humanity</h2>
      <p class="text-lg font-syne mb-5">
        We allocate a substantial percentage of our proceeds directly into a treasury fund designed exclusively for humanitarian and community projects. This fund serves as the lifeblood of our philanthropic initiatives, enabling us to support causes close to our hearts and the hearts of our community members.
      </p>
      <h2 class="text-3xl font-medium font-syne tracking-wide mb-4">Empowering Positive Change</h2>
      <p class="text-lg font-syne mb-5">
        Empowering Positive Change: The funds from our treasury are strategically channeled into projects that align with our mission of uplifting people and the planet. These projects encompass a wide spectrum of endeavors, from environmental conservation and sustainable development to education and healthcare initiatives in underserved communities. Our intention is to partner with reputable organizations and actively engage with local communities to ensure that our contributions have a meaningful and lasting impact.
      </p>
    </div>
    <div class="">
      <img
        class=""
        src="{{ 'ab-sec2.svg'| asset_url }}"
        alt="">
    </div>

  </div>
  <div class=" grid grid-cols-2 gap-9 items-center py-20">
    <div class="">

      <img
        class=""
        src="{{ 'ab-sec3.svg'| asset_url }}"
        alt="">

    </div>
    <div>
      <h2 class="text-3xl font-medium font-syne tracking-wide mb-4">HVN ON ERTH</h2>
      <h1 class="text-6xl font-medium text-custom font-instrument tracking-wide mb-4">WE ARE HVN ON ERTH.
      </h1>
      <p class="text-lg font-syne mb-5">HVN ON ERTH was established in Los Angeles, CA in 2018 by Sophia Kapri as a means to serve the people from all walks of life in various forms. She woke up from a dream and her spirit was called to design a logo, now stamped as HVN ON ERTH. Starting in her community in Los Angeles, Kapri started with her own pop-up at events and shows to bring an experience to the people using all five senses. Enjoying high vibe music, tasting quality vegan and plant based meals, feeling renewed through her plant based products, smelling fresh cooked soul food, and seeing a community of people filled with gratitude is the one thing that made her feel home.
      </p>
      <p class="text-lg font-syne mb-5">HVN ON ERTH focuses on healing both internally and externally to assist those in search of healing themselves. Through this platform, we welcome all with open arms and love with an intention to inspire one another to experience heaven on earth together. We live in a culture and world where we are born into a system with no idea what's ahead, what's to come, and at times left alone to figure out what it is we are here to do. While we are here, why do we succumb to the negative emotions stemmed from fear? Well, we've all had our own experiences, foundations, and journeys starting at birth.
      </p>

    </div>
  </div>
  <div class=" grid grid-cols-2 gap-9 items-center py-20">

    <div>
      <h2 class="text-3xl font-medium font-syne tracking-wide mb-4">meet SOPHIA KAPRI</h2>
      <h1 class="text-6xl font-medium text-custom font-instrument tracking-wide mb-4">CEO & Founder
      </h1>
      <p class="text-lg font-syne mb-5">Meet our visionary CEO, Sophia Kapri, whose divine journey and dreams ignited the creation of HVN ON ERTH. Sophia's extraordinary experiences guided her towards a profound understanding of the need for positive change in the world. Committed to fostering a community dedicated to upliftment, opportunity, and well-being, Sophia believes that we can collectively shape a brighter, more harmonious future. HVN ON ERTH embodies her passion for positive impact, striving to make a meaningful difference in the lives of individuals and the world as a whole.
      </p>
    </div>
    <div class="">
      <img
        class=""
        src="{{ 'ab-sec4.svg'| asset_url }}"
        alt="">
    </div>
  </div>
</div>