<div class=" container mx-auto">
  {% paginate search.results by 4 %}
    <h1 class=" text-xl my-4 text-center">Search Results</h1>

    <div class=" flex items-center justify-center">
      <form
        action="{{ routes.search_url }}"
        method="get"
        class="flex border rounded">
        <input
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          class=" px-4 py-2 w-80 border-none">
        <button class="px-4">
          {% render 'icon-search' %}
        </button>
      </form>
    </div>
    {% if search.performed %}
      {% if search.results.size > 0 %}

        <div class=" max-w-6xl mx-auto">
          <p class="text-lg text-center my-10 text-gray-950 font-medium">
            <b>{{ search.results.size }}</b>
            result for the search term
            <span class=" uppercase ">{{ search.terms | escape }}</span>
          </p>
          <div class=" grid grid-cols-1 md:grid-cols-4 gap-4">
            {% for item in search.results %}
              {% case item.object_type %}
                {% when 'product' %}
                  {% render 'product-card'
                    , product_product: item %}
                  {% else %}

              {% endcase %}
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="my-4 text-center ">
          <p class="text-base">No result found for the search term : {{ search.terms | escape }} Try Other Products</p>
        </div>
      {% endif %}
    {% endif %}

    {% render 'pagination'
      , pagination: paginate %}
  {% endpaginate %}
</div>